body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  max-height: 520px;
  border-top-left-radius: calc(40 * 1px);
  border-top-right-radius: calc(40 * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card img {
  width: 100%;
}

.containerGrid {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.containerGrid h4 {
  font-size: 1.2em;
}

.containerBody {
  padding: 20px;
  height: calc(100% - 300px);
  background-color: aliceblue;
  border-bottom-left-radius: calc(40 * 1px);
  border-bottom-right-radius: calc(40 * 1px);
}

.containerGrid div > :where(:not(:first-child)),
.containerBody > * {
  margin-top: 0px;
  margin-bottom: 10px;
}

.container h4 {
  font-size: 1.8em;
  text-transform: capitalize;
}
